html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

header {
  width: 100%;

}

.container {
  width: 90%;
  margin: auto;
}

.cardholder {
  width: 100%;
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-between;
  margin: 2rem 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 2px 2px 4px #cccccc;

}

.beanimg {
  width: 100%;
  height: 150px;
}

.beanimg img {
  width: 100%;
  height: 100%;
}